<div th:fragment="navbar" class="container mx-auto flex flex-wrap p-5 flex-col md:flex-row items-center">
    <a class="flex title-font font-medium items-center text-gray-900 mb-4 md:mb-0">
        <span class="ml-3 text-xl">CERITAIN.COM</span>
    </a>
    <nav class="md:mr-auto md:ml-4 md:py-1 md:pl-4 md:border-l md:border-gray-400	flex flex-wrap items-center text-base justify-center">
        <a href="/" class="mr-5 hover:text-gray-900">Home</a>
        <a href="/reading-list" class="mr-5 hover:text-gray-900">Reading List</a>
        <a href="/cerita" class="mr-5 hover:text-gray-900">Cerita</a>
        <a href="/profile" class="mr-5 hover:text-gray-900">Profile</a>
        <a href="/search-page" class="mr-5 hover:text-gray-900">Search Page</a>
    </nav>
    <div class="flex justify-center">
        <div class="mb-3 xl:w-96">
            <input
                    type="search"
                    class="
        form-control
        block
        w-full
        px-3
        py-1.5
        text-base
        font-normal
        text-gray-700
        bg-white bg-clip-padding
        border border-solid border-gray-300
        rounded
        transition
        ease-in-out
        m-0
        focus:text-gray-700 focus:bg-white focus:border-blue-600 focus:outline-none
      "
                    id="exampleSearch"
                    placeholder="Cari pencarian"
            />
        </div>
    </div>
</div>