<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Cerita</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>

<body>
<header th:replace="fragments/navbar :: navbar"></header>
<a href="/cerita" width="53px" height="53px" class="inline">
    <img src="https://cdn.discordapp.com/attachments/866848939886247948/966599675509637201/BackButton.png"
         class="ml-8 mt-8" alt="back-button" width="53px" height="53px" style="cursor: pointer">
</a>
<div class="flex w-3/4 mx-auto mt-4 flex-col">
    <h3 class="text-4xl font-bold" th:text="${cerita.getJudulCerita()}"></h3>
    <span class="text-base font-light"><span th:text="${cerita.getCreator()}"></span> | Created at <span
            th:text="${cerita.getCreatedAt()}"></span> <span
            th:if="${cerita.getUpdatedAt() != null}"> | Updated at <span
            th:text="${cerita.getUpdatedAt()}"></span></span> </span>
    <p class="mt-4 text-base" th:text="${cerita.getIsiCerita()}">
    </p>
    <div class="text-center mt-5">
        <a th:if="${cerita.getCreator().equals(currentUsername)}" th:href="@{delete-cerita/{id}(id=${cerita.getId()})}">
            <button type="button"
                    class="focus:outline-none text-white bg-red-700 hover:bg-red-800 focus:ring-4 focus:ring-red-300 font-medium rounded-lg text-sm px-5 py-2.5 mr-2 mb-2 dark:bg-red-600 dark:hover:bg-red-700 dark:focus:ring-red-900">
                Hapus Cerita
            </button>
        </a>
    </div>
</div>
</body>
</html>