<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Cerita</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
</head>

<body>
<a href="/cerita">
    <img src="https://cdn.discordapp.com/attachments/866848939886247948/966599675509637201/BackButton.png"
         class="ms-5 mt-5" alt="back-button" width="53px" height="53px" style="cursor: pointer">
</a>
<div class="d-flex w-75 mx-auto mt-4 flex-column">
    <h3 th:text="${cerita.getJudulCerita()}"></h3>
    <span>Ini Author | Created at <span th:text="${cerita.getCreatedAt()}"></span> <span
            th:if="${cerita.getUpdatedAt() != null}"> | Updated at <span
            th:text="${cerita.getUpdatedAt()}"></span></span> </span>
    <a th:href="@{/reading-list/add-cerita/{id}(id=${cerita.getId()})}">Tambahkan ke Reading List</a>
    <p class="mt-4 text-base" th:text="${cerita.getIsiCerita()}">
    </p>
    <div class="text-center mt-5">
        <a th:href="@{delete-cerita/{id}(id=${cerita.getId()})}">
            <button class="btn btn-danger">Hapus Cerita</button>
        </a>
    </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous">
</script>
</body>
</html>