<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <title>Tambah Cerita ke Reading List</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>

<body>
    <header class="p-5"></header>
    <h5 class="text-center font-bold text-3xl my-3">Tambah Cerita ke Reading List</h5>
    <div class="flex justify-center items-center mx-auto mt-10">
        <form method="post" class="w-full">
            <div class="form-check flex flex-wrap items-center justify-center grid grid-cols-4 gap-4 py-2">
                <label class="form-check-label col-span-3 mx-auto">Sejarah Dunia dan Seisinya</label>
                <div class="flex justify-center"><button type="submit"
                        class="bg-[#E08958] hover:bg-[#7a4a2f] text-white py-2 px-4 rounded">Tambah</button></div>
            </div>
            <div class="form-check flex flex-wrap items-center justify-center grid grid-cols-4 gap-4 py-2">
                <label class="form-check-label col-span-3 mx-auto">Wawancara dan Dokumentari, Pelajaran yang Dihindari,
                    Masa yang Kelam</label>
                <div class="flex justify-center"><button type="submit"
                        class="bg-[#E08958] hover:bg-[#7a4a2f] text-white py-2 px-4 rounded">Tambah</button></div>
            </div>
            <div class="form-check flex flex-wrap items-center justify-center grid grid-cols-4 gap-4 py-2">
                <label class="form-check-label col-span-3 mx-auto">Bacaan to Begal to</label>
                <div class="flex justify-center"><button type="submit"
                        class="bg-[#E08958] hover:bg-[#7a4a2f] text-white py-2 px-4 rounded">Tambah</button></div>
            </div>
        </form>
    </div>
</body>

</html>