<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8" />
    <title>Reading List</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>

<body>
    <header class="p-5"></header>
    <div th:if="${readingList} != null">
        <h1 class="text-center font-bold text-3xl my-3" th:text="${readingList.getJudul()}">Judul</h1>
        <h3 class="text-center font-thin text-lg italic my-3 mx-20" th:text="${readingList.getDeskripsi()}">Deskripsi</h3>
        <div class="flex justify-center items-center mx-auto" th:each="cerita : ${readingList.getCeritaSet()}">
            <form method="post" class="w-full" th:action="@{/reading-list/delete-cerita}">
                <input th:name="id" th:value="${readingList.getId()}" hidden>
                <div class="form-check flex flex-wrap items-center justify-center grid grid-cols-6 py-2 px-3">
                    <label class="form-check-label col-span-4 mx-auto" th:text="${cerita.getJudulCerita()}">Judul Cerita</label>
                    <div class="flex justify-center">
                        <button type="submit"
                                class="bg-[#e43c3c] hover:bg-[#913636] text-white py-2 px-4 rounded" th:name="ceritaId" th:value="${cerita.getId()}">Hapus
                        </button>
                    </div>
                    <div class="flex justify-center">
                        <a th:href="@{/cerita/{id}(id=${cerita.getId()})}"
                                class="bg-[#4CC0E4] hover:bg-[#2F9DBF] text-white py-2 px-4 rounded">Baca
                        </a>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <footer class="p-5"></footer>
</body>

</html>