<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8" />
    <title>Reading List UI Prototype</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>

<body>
    <header class="p-5"></header>
    <a th:href="@{/reading-list/create}" class="bg-[#345875] hover:bg-[#0F3B5E] text-white py-2 px-4 rounded">Create</a>
    <a th:href="@{/reading-list/view}"
        class="bg-[#345875] hover:bg-[#0F3B5E] text-white py-2 px-4 rounded">Read/Delete</a>
    <a th:href="@{/reading-list/edit}" class="bg-[#345875] hover:bg-[#0F3B5E] text-white py-2 px-4 rounded">Edit</a>
    <a th:href="@{/reading-list/add-cerita}" class="bg-[#345875] hover:bg-[#0F3B5E] text-white py-2 px-4 rounded">Add
        Cerita</a>
    <footer class="p-5"></footer>
</body>

</html>