<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8" />
    <title>Reading List</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body>
<div align="center">
    <br>
    <h1>Hasil pencarian</h1>
    <br>
    <div class="col-sm-4">
        <form th:action="@{/search-page}">
            Filter: <input type="text" name="keyword" id="keyword" size="50" th:value="${keyword}" required />
            &nbsp;
            <input type="submit" value="Search" />
            &nbsp;
            <input type="button" value="Clear" id="btnClear" onclick="clearSearch()" />
        </form>
    </div>
</div>
</body>